* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Cairo", sans-serif;
  font-family: "Work Sans", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}

.main-title {
  width: fit-content;
  font-size: 25px;
  font-weight: 700;
  border: black solid 2px;
  padding: 10px 20px;
  margin: 0 auto 80px;
  position: relative;
  transition: var(--main-transition);
}

.main-title:hover {
  border: rgb(255, 255, 255) solid 2px;
  color: white;
  transition-delay: 0.5s;
}

.main-title::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  z-index: -1;
}

.main-title::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  z-index: -1;
}

.main-title:hover::before {
  animation: left- 0.5s forwards linear;
}

.main-title:hover::after {
  animation: right- 0.5s forwards linear;
}

@keyframes right- {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  100% {
    right: 0;
    width: 50.5%;
    height: 100%;
    border-radius: 0;
  }
}

@keyframes left- {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  100% {
    left: 0;
    width: 50.5%;
    height: 100%;
    border-radius: 0;
  }
}

/* =========================================Header START================================================= */

header {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > a {
  text-decoration-line: none;
  color: var(--main-color);
  font-size: 15px;
  font-weight: 400;
  margin-left: 100px;
}

header nav {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 100px;
}

header nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 25%;
  font-size: 18px;
  font-weight: 400;
  position: relative;
}

header nav li:hover::before {
  width: 100%;
}

header nav li::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  left: 0;
  top: 0;
  background-color: var(--main-color);
  transition: var(--main-transition);
}

header nav li .a {
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -1px;
  color: black;
  text-decoration-line: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: var(--main-transition);
}

header nav li .a:hover {
  background-color: var(--section-background);
  color: var(--main-color);
}

/* =====Other List===== */

header nav .li-h2:hover::before {
  width: 100%;
}

header nav .li-h2::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  left: 0;
  top: 0;
  background-color: var(--main-color);
  transition: var(--main-transition);
  z-index: 1;
}

header nav .li-h2 .more {
  position: relative;
}

header nav .li-h2 .more:hover .more-lists {
  background-color: white;
  /* background-color: red; */
  border-style: none none solid;
  top: 75px;
  display: flex;
}

header nav .li-h2 .more .more-lists {
  position: absolute;
  background-color: none;
  width: 1250px;
  height: 400px;
  right: 0;
  top: 100px;
  display: none;
  justify-content: space-between;
  align-items: center;
  cursor: auto;
  transition: var(--main-transition);
  border-color: var(--main-color);
  border-style: none none none;
  z-index: 1;
}

header nav .li-h2 .more .more-lists .list {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 5%;
}

header nav .li-h2 .more .more-lists .list .child {
  height: 80%;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}

header nav .li-h2 .more .more-lists .list .child a {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: start;
  text-decoration-line: none;
  border-color: var(--section-background);
  border-width: 1px;
  border-style: none none solid none;
  position: relative;
}

header nav .li-h2 .more .more-lists .list .child a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #ececec7b;
  transition: var(--main-transition);
}

header nav .li-h2 .more .more-lists .list .child a:hover::before {
  width: 100%;
}

header nav .li-h2 .more .more-lists .list .child a i {
  font-size: 20px;
  color: var(--main-color);
  margin: 0 10px;
  z-index: 1;
}

header nav .li-h2 .more .more-lists .list .child a span {
  font-size: 18px;
  color: var(--main-color);
  font-weight: 500;
  z-index: 1;
}

/* =====Other List===== */

@media (max-width: 1189px) and (min-width: 1000px) {
  header nav {
    width: 50%;
  }
  header nav li .a {
    font-size: 15px;
    font-weight: 400;
  }
  header nav .li-h2 .more .more-lists {
    width: 900px;
    height: 400px;
    right: -50px;
    top: 100px;
  }
}

@media (max-width: 1000px) and (min-width: 630px) {
  header nav {
    width: 50%;
  }
  header nav li .a {
    font-size: 15px;
    font-weight: 400;
  }
  header nav .li-h2 .more .more-lists {
    width: 500px;
    height: 400px;
    right: -50px;
    top: 100px;
  }
  header nav .li-h2 .more .more-lists img {
    display: none;
  }
  header nav .li-h2 .more .more-lists .list {
    width: 100%;
    margin-right: 0;
  }
}

@media (max-width: 630px) and (min-width: 412px) {
  header {
    flex-direction: column;
    height: 150px;
    align-items: center;
  }
  header > a {
    height: 50%;
    margin: 0;
  }
  header nav {
    width: 100%;
    height: 50%;
    align-self: center;
    margin: 0;
  }
  header nav li .a {
    font-size: 15px;
    font-weight: 400;
  }
  header nav .li-h2 .more .more-lists {
    width: 400px;
    height: 550px;
    right: 0px;
    top: 100px;
  }
  header nav .li-h2 .more .more-lists img {
    display: none;
  }
  header nav .li-h2 .more .more-lists .list {
    width: 100%;
    margin-right: 0;
    flex-direction: column;
  }
  header nav .li-h2 .more .more-lists .list .child {
    width: 100%;
    margin-right: 0;
  }
}

@media (max-width: 412px) {
  header {
    flex-direction: column;
    height: 150px;
    align-items: center;
  }
  header > a {
    height: 50%;
    margin: 0;
  }
  header nav {
    width: 100%;
    height: 50%;
    align-self: center;
    margin: 0;
  }
  header nav li .a {
    font-size: 15px;
    font-weight: 400;
  }
  header nav .li-h2 .more .more-lists {
    width: 300px;
    height: 550px;
    right: 0px;
    top: 100px;
  }
  header nav .li-h2 .more .more-lists img {
    display: none;
  }
  header nav .li-h2 .more .more-lists .list {
    width: 100%;
    margin-right: 0;
    flex-direction: column;
  }
  header nav .li-h2 .more .more-lists .list .child {
    width: 100%;
    margin-right: 0;
  }
}

/* =========================================Header END================================================= */
/* =========================================Landing START================================================= */

.landing {
  width: 100%;
  height: calc(100vh - 75px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.landing::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ececec;
  z-index: -1;
  transform: rotate(-5deg) translateY(-250px) scale(1.5);
}

.landing i {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  color: var(--main-color);
  font-size: 30px;
  animation-name: down;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes down {
  0% {
    transform: translateY(0) translateX(-50%);
  }
  10% {
    transform: translateY(-20px) translateX(-50%);
  }
  20% {
    transform: translateY(0) translateX(-50%);
  }
  30% {
    transform: translateY(-20px) translateX(-50%);
  }
  40% {
    transform: translateY(0) translateX(-50%);
  }
  100% {
    transform: translateY(0) translateX(-50%);
  }
}

.landing span {
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.landing span h2 {
  margin-top: -150px;
  font-size: 35px;
  letter-spacing: -2px;
  line-height: 80px;
}

.landing span p {
  letter-spacing: -1px;
  font-size: 23px;
  line-height: 35px;
  color: rgb(102, 102, 102);
}

.landing div {
  width: auto;
  height: 400px;
  animation-name: landin-img;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.landing div img {
  height: 100%;
}

@keyframes landin-img {
  0% {
    transform: translateY(-25px);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(-25px);
  }
}

@media (max-width: 1189px) and (min-width: 1000px) {
  .landing {
    padding: 50px;
  }
  .landing span h2 {
    margin-top: -150px;
    font-size: 25px;
    letter-spacing: -2px;
    line-height: 80px;
  }
  .landing span p {
    font-size: 15px;
    line-height: 35px;
    width: 70%;
  }
  .landing div {
    height: 300px;
  }
}

@media (max-width: 1000px) and (min-width: 630px) {
  .landing {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 630px) and (min-width: 412px) {
  .landing div {
    display: none;
  }
  .landing span {
    align-items: center;
  }
  .landing span h2 {
    margin-top: -150px;
    font-size: 30px;
    letter-spacing: -2px;
    line-height: 80px;
    text-align: center;
  }
  .landing span p {
    text-align: center;
    font-size: 20px;
    line-height: 35px;
    width: 70%;
  }
}

@media (max-width: 412px) {
  .landing {
    padding: 10px;
  }
  .landing div {
    display: none;
  }
  .landing span {
    align-items: center;
  }
  .landing span h2 {
    margin-top: -150px;
    font-size: 30px;
    letter-spacing: -2px;
    line-height: 50px;
    text-align: center;
  }
  .landing span p {
    text-align: center;
    font-size: 20px;
    line-height: 35px;
    width: 70%;
  }
}

/* =========================================Landing END================================================= */
/* =========================================ARTICLES START================================================= */

.articles {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.articles .dad {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  padding: 50px;
}

.articles .dad .child {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  transition: var(--main-transition);
}

.articles .dad .child:hover {
  transform: translateY(-20px);
}

.articles .dad .child img {
  max-width: 100%;
  margin-bottom: 10px;
}

.articles .dad .child .up {
  width: 100%;
  padding: 10px;
  margin: 10px;
}
.articles .dad .child .up h2 {
  font-size: 20px;
  font-weight: 550;
  margin-bottom: 10px;
}

.articles .dad .child .up p {
  font-size: 15px;
  font-weight: 400;
  color: #696969;
  line-height: 25px;
}

.articles .dad .child .down {
  width: 100%;
  padding: 20px 10px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration-line: none;
  color: var(--main-color);
  border-top: solid 1px rgb(202, 202, 202);
}

.articles .dad .child i {
  margin-right: 10px;
}

.articles .dad .child:hover i {
  animation-name: right-1;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes right-1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}
/* =========================================ARTICLES END================================================= */
